* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background: #343541;
}

.table {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table .row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.row .col {
    width: 256px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ccc;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 10px;
}

.row .card {
    width: 256px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    background: #f7f7f8;
    margin: 10px;
}

.card.shake {
    animation: shake_horizontal 0.5s ease-in-out;
}

.card.fade {
    animation: fade_in 1s ease-in forwards;
}

.card img {
    width: 256px;
    height: 192px;
    border: 1px solid black;
}

.card .stat-options {
    display: flex;
    flex-direction: column;
}

.card .pokemon-label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}

.pokemon-label * {
    margin-left: 10px;
    margin-right: 10px;
}

.pokemon-label img {
    width: 32px !important;
    height: 24px !important;
}

.stat-options button {
    min-width: 256px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    background: #d9d9e3;
}

.stat-options button.active {
    background: #FFF8DC;
    font-weight: 700;
}

.stat-options button span {
    pointer-events: none;
    margin-left: 10px;
    margin-right: 10px;
}

.stat-options button.stat-increased {
    color: green;
}

.stat-options button.stat-reduced {
    color: red;
}

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    background: #343541;
    overflow:scroll;
}

.menu .menu-message {
    color: #ccc;
    padding: 10px;
}

.menu .packs {
    display: flex;
    gap: 10px;
}

.packs .pokemon-pack {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 5px solid #ccc;
    border-radius: 10px;
    color: #ccc;
}

.packs .pokemon-pack:hover {
    cursor: pointer;
}

.menu button {
    font-size: 2rem;
    padding: 10px;
    outline: none;
    border-radius: 10px;
}

#next-turn {
    visibility: hidden;
    min-width: 100px;
    color: #343541;
    background: #ccc;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    outline: none;
}

#game-log {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rules {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    color: #ccc;
    font-size: 15px;
}

.type-chart {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.type-chart-title {
    text-align: center;
    color: white;
}

.type-chart-table {
    border-collapse: collapse;
    width: 100%;
}

.type-chart-table th,
td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 5px;
}

.type-chart-table th {
    background-color: #f2f2f2;
    color: black;
}

.type-chart-table td {
    color: white;
}



@keyframes shake_horizontal {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-3px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes fade_in {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.25;
    }
}

@media screen and (max-width: 800px) {
    body {
        width: auto;
        height: auto;
    }

    .menu .packs {
        flex-direction: column;
        gap: 10px;
    }

    .packs .pokemon-pack {
        max-width: 150px;
        max-height: 150px;
        font-size: 16px;
    }

    .table .row {
        width: 100vw;
        min-height: 50px;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        border: 1px solid #ccc;
    }

    .row .card {
        margin: 5px;
    }

    .row .col {
        width: 155px;
        gap: 0;
        margin: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 0;
        border: none;
    }

    .row .col-center {
        width: 100%;
        max-width: 100vw;
    }

    .col #game-log span {
        width: 100%;
        text-align: center;
    }

    .table .card {
        width: 155px;
        height: 290px;
    }

    .table .card img {
        width: 128px;
        height: 96px;
    }

    .stat-options button {
        min-width: 128px;
    }

    .stat-options button span {
        padding: 0;
    }

    .stat-options button {
        margin: 0;
    }
}